<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manage Listings</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.css" rel="stylesheet" />
        <!-- Playfair Display Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />
        <!-- Custom CSS and JS -->
        <link rel="stylesheet" href="/css/admin-edit-listings.css" />
        <script src="/js/admin-edit-listings.js" defer></script>
    </head>
    <body>
        <header>
            <!-- NAVIGATION BAR -->
            <section th:insert="~{fragments/navbar-admin :: navbar-admin}"></section>
        </header>
        <main class="main-container">
            <!-- Form to add a new entry -->
            <section class="title-container">
                <h2 class="title playfair-semibold">Edit Property Information</h2>
            </section> 
            <section class="add-form-container">
                <form class="add-new-listing" action="/properties/update" method="post">
                    <input type="hidden" name="pid" th:value="${property.pid}">
                    <section class="input-group has-validation">
                        <span class="input-group-text">Owner's Name :</span>
                        <input type="text" class="form-control" name="name" th:value="${property.name}">
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Street :</span>
                        <input type="text" class="form-control" name="street" th:value="${property.street}">
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">City :</span>
                        <input type="text" class="form-control" name="city" th:value="${property.city}"><br />
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Province :</span>
                        <select class="form-control" name="province">
                            <option value="">Select Province/Territory</option>
                            <option value="AB">Alberta</option>
                            <option value="BC" selected>British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland and Labrador</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NU">Nunavut</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Quebec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="YT">Yukon</option></select
                        ><br />
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Postal Code :</span>
                        <input type="text" class="form-control" name="zipCode" th:value="${property.zipCode}"><br />
                    </section>
                    <section class="input-group has-validation" style="position: relative">
                        <span class="input-group-text">Description :</span>
                        <textarea id="textInput" class="form-control" name="description" th:text="${property.description}"></textarea><br />
                        <span id="charCount" style="position: absolute; bottom: 5px; right: 10px">0 / 3000</span>
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Price :</span>
                        <input type="text" class="form-control" name="price" pattern="[0-9]+" th:value="${property.price}" /><br />
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Area :</span>
                        <input type="number" class="form-control" name="area" min="0" step="0.1" pattern="\d+(\.\d{1,2})?" th:value="${property.area}" /><br />
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Bedrooms :</span>
                        <input type="number" class="form-control" name="brCount" min="0" step="1" pattern="\d+" th:value="${property.brCount}" /><br />
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Bathrooms :</span>
                        <input type="number" class="form-control" name="baCount" min="0" step="1" pattern="\d+" th:value="${property.baCount}" /><br />
                    </section>
                    <section class="input-group has-validation">
                        <span class="input-group-text">Featured :</span>
                        <select class="form-control" name="featured">
                            <option value="false" selected>No</option>
                            <option value="true">Yes</option></select
                        ><br />
                    </section>
                    <section class="add-property-btn-container">
                        <input type="hidden" name="redirectUrl" th:value="${currentUrl}" />
                        <button type="submit" class="add-property-btn btn btn-primary">Save Information</button>
                    </section>
                </form>
            </section>
        </main>
    </body>
</html>
