<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Home Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.css" rel="stylesheet" />
        <!-- Playfair Display Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/admin-homepage.css" />
    </head>
    <body>
        <header>
            <video autoplay muted loop id="background-video">
                <source src="/img/background.mp4" type="video/mp4" />
                Your browser does not support HTML5 video.
            </video>
            <!-- NAVIGATION BAR -->
            <div th:insert="~{fragments/navbar-admin :: navbar-admin}"></div>

            <!-- INTRODUCTION -->
            <section class="banner">
                <section class="container">
                    <p class="title playfair-regular">Realtorest Admin Page</p>
                    <section class="actions-container">
                        <a th:href="@{/admin/properties}" class="edit-listing-btn btn btn-primary">Edit Listings</a>
                    </section>
                    <section class="actions-container">
                        <a th:href="@{/admin/users}" class="edit-listing-btn btn btn-primary">View Users</a>
                    </section>
                </section>
            </section>
        </header>
    </body>
</html>
