<div th:fragment="navbar-admin">
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <section class="realtorest-title">
            <a th:href="@{/admin}">
                <p class="playfair-semibold" style="color: white">Realtorest</p>
            </a>
        </section>
        <section class="navbar-categories ms-auto">
            <th:block th:if="${admin != null}">
                <a th:href="@{/admin/properties}" class="navbar-category"><p>Manage Listing</p></a>
                <a th:href="@{/admin/users}" class="navbar-category"><p>View Users</p></a>
            </th:block>

            <a th:href="@{/logout}" class="navbar-category"><p>Sign Out</p></a>
        </section>
    </nav>
</div>
