<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script&family=Lobster&family=Kaushan+Script&family=Great+Vibes&family=Amatic+SC&family=Shadows+Into+Light&family=Satisfy&family=Courgette&family=Tangerine&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <div class="side-box">
                <h1>FIND YOUR NEXT HOME</h1>
                <div class="side-box-content">
                    <p>I don't want to sell you a house</p>
                    <p>I want to find you a <strong>HOME</strong></p>
                </div>
            </div>
            <div class="login-form">
                <h2>SIGN IN</h2>
                <form action="/login" method="post" onsubmit="return validateForm()">
                    <div class="input-wrapper">
                        <input type="text" class="username-input" placeholder=" " name="email" required />
                        <label class="input-label">Email</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" class="password-input" placeholder=" " name="password" required />
                        <label class="input-label">Password</label>
                    </div>
                    <button type="submit">Login</button>
                    <div class="social-login">
                        <a href="#" class="google-login">
                            <div class="content-wrapper">
                                <div class="logo-wrapper">
                                    <img src="https://developers.google.com/identity/images/g-logo.png" />
                                </div>
                                <span class="text-container">
                                    <span>Sign in with Google</span>
                                </span>
                            </div>
                        </a>
                        <a href="#" class="apple-login">
                            <div class="content-wrapper">
                                <div class="logo-wrapper">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple Logo" />
                                </div>
                                <span class="text-container">
                                    <span>Sign in with Apple</span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="forgot_password">
                        <a href="">Forgot Password?</a>
                    </div>
                    <div class="signup_link">Don't have an account? <a href="/signUp">Register Here</a></div>
                </form>
            </div>
        </div>
    </body>
</html>
