<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Properties Database</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" defer></script>
        <link href="/css/dev.css" rel="stylesheet" />
    </head>
    <body class="justify-content-center">
        <header class="container my-5">
            <div class="card section-box mx-auto" style="max-width: 600px">
                <div class="card-body text-center">
                    <h1 class="display-3" style="font-weight: 500">Properties Database</h1>
                </div>
            </div>
        </header>

        <!-- A table listing everything in the db table -->
        <section class="container my-5">
            <div class="card section-box">
                <div class="card-body">
                    <h2 class="mb-3">All Properties</h2>
                    <table class="table table-hover table-bordered" id="student-table">
                        <thead class="table-info">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Price</th>
                                <th scope="col">Area (ft&sup2)</th>
                                <th scope="col">Bedrooms</th>
                                <th scope="col">Bathrooms</th>
                                <th scope="col">Featured</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="property:${properties}">
                                <td th:text="${property.pid}"></td>
                                <td th:text="${property.name}"></td>
                                <td th:utext="${property.street + '<br>' + property.city + ', ' + property.province + '<br>' + property.zipCode}"></td>
                                <td th:text="${#numbers.formatInteger(property.price, 0, 'COMMA')}"></td>
                                <td th:text="${property.area}"></td>
                                <td th:text="${property.brCount}"></td>
                                <td th:text="${property.baCount}"></td>
                                <td th:text="${property.featured}"></td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#modal' + ${property.pid}">View</button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'modal' + ${property.pid}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <p th:text="${property.description}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex gap-1">
                                        <form th:action="@{/dev/properties/edit}" method="get">
                                            <input type="hidden" name="pid" th:value="${property.pid}" />
                                            <input type="hidden" name="redirectUrl" th:value="${currentUrl}" />
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </form>

                                        <form th:action="@{/properties/delete/{pid}(pid=${property.pid})}" method="post">
                                            <input type="hidden" name="redirectUrl" th:value="${currentUrl}" />
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!-- Form to add a new entry -->
        <section class="container my-5">
            <div class="card section-box">
                <div class="card-body">
                    <h2 class="mb-3">Add Property</h2>
                    <form action="/properties/add" method="post">
                        <input type="text" class="form-control" name="name" placeholder="Name" required /><br />
                        <input type="text" class="form-control" name="street" placeholder="123 Fantastic St" required /><br />
                        <input type="text" class="form-control" name="city" placeholder="Happyville" required /><br />
                        <select class="form-control" name="province" required>
                            <option value="">Select Province/Territory</option>
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland and Labrador</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NU">Nunavut</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Quebec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="YT">Yukon</option></select
                        ><br />
                        <input type="text" class="form-control" name="zipCode" placeholder="A1B 2C3" required /><br />
                        <div class="input-group">
                            <textarea id="textInput" class="form-control" name="description" placeholder="Something about the property..." required></textarea><br />
                            <span id="charCount">0 / 3000</span>
                        </div>
                        <br />
                        <input type="text" class="form-control" name="price" pattern="[0-9]+" placeholder="Price" required /><br />
                        <input type="number" class="form-control" name="area" min="0" step="0.1" pattern="\d+(\.\d{1,2})?" placeholder="Area of Property in Squared Foot" required /><br />
                        <input type="number" class="form-control" name="brCount" min="0" step="1" pattern="\d+" placeholder="Number of Bedrooms" required /><br />
                        <input type="number" class="form-control" name="baCount" min="0" step="1" pattern="\d+" placeholder="Number of Bathrooms" required /><br />
                        <select class="form-control" name="featured" required>
                            <option value="false">Not Featured</option>
                            <option value="true">Featured</option></select
                        ><br />
                        <input type="hidden" name="redirectUrl" th:value="${currentUrl}" />
                        <button type="submit" class="btn btn-primary">Add Property</button>
                    </form>
                </div>
            </div>
        </section>

        <!-- Buttons used for testing purposes -->
        <section class="container my-5">
            <div class="card section-box">
                <div class="card-body">
                    <h2 class="mb-3">Testing Buttons</h2>
                    <div class="d-flex gap-2">
                        <form th:action="@{/properties/fill}" method="post">
                            <input type="hidden" name="redirectUrl" th:value="${currentUrl}" />
                            <button type="submit" class="btn btn-primary">Add Testing Data</button>
                        </form>
                        <form th:action="@{/properties/delete/all}" method="post">
                            <input type="hidden" name="redirectUrl" th:value="${currentUrl}" />
                            <button type="submit" class="btn btn-danger">Delete All Entries</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
