body {
    background-color: wheat;
}

.section-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
}

.transparent,
.transparent thead th,
.transparent tbody td {
    background-color: transparent;
}

.student-rectangle-container-card {
    background-color: white;
}

.edit-section {
    display: none;
}

#fade-in-body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
