/* FONTS */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */
.playfair-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.playfair-semibold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.playfair-extrabold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}
.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}
/* HEADER */
/* NAVIGATION BAR */
.realtorest-title {
    font-size: 25px;
    padding-top: 5px;
    padding-left: 30px;
}
a {
    text-decoration: none;
}
.navbar-categories {
    display: flex;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-size: 15px;
    padding-top: 15px;
    padding-right: 20px;
}
.navbar-category {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-category:hover {
    cursor: pointer;
    color: rgb(211, 211, 211);
}
.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* INTRODUCTION */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    color: white;
    background-color: none;
    font-size: 80px;
    margin-top: 30vh;
}
.banner .container p.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* OFF CANVAS */
.offcanvas {
    background-color: rgba(14, 29, 51) !important;
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    height: 250px !important;
}
.profile-image {
    height: 200px;
    width: 200px;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 30px;
}
.profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.offcanvas-header {
    margin-top: 50px;
    padding-top: 5px;
    margin-left: 45px;
    display: block;
    text-align: left;
}
.offcanvas-header p {
    margin-bottom: -5px;
}
.offcanvas-body {
    color: white;
}
.client-name {
    color: white;
    font-size: 23px;
    padding-bottom: 15px;
}
.client-information {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    color: white;
    font-weight: 200;
    padding-bottom: 5px;
}
.social-media {
    color: white;
    padding-top: 10px;
}
.social-media i {
    padding-right: 15px;
}
.social-media a {
    color: white;
}
.social-media a:hover {
    color: rgb(211, 211, 211);
}
.offcanvas-body {
    height: 180px;
    margin-top: 50px;
    padding-top: 9px;
    margin-left: 50px;
    display: block;
    text-align: left;
    border-left: 1px solid gray;
}
.description-title {
    font-size: 20px;
}
.client-personal-statement {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    color: white;
    font-weight: 200;
}
/* Adjust the header styles */
header {
    position: relative;
    height: 100vh; /* Set the height of the header to the viewport height */
}

/* Style the video to cover the header */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire header */
    z-index: -1; /* Place the video behind the content */
}

/* Ensure other content overlays the video */
main {
    position: relative;
    z-index: 1; /* Ensure the main content appears above the video */
}

/* BODY */
/* FEATUREED LISTINGS */
.body-title {
    font-family: "montserrat", "sans-serif";
    font-size: 28px;
    font-weight: 200;
    color: rgb(58, 58, 58);
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}
.featured-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0.1px rgb(125, 125, 125);
    padding-bottom: 15px;
}
.featured-image {
    position: relative;
}
.carousel-inner {
    height: 400px;
}
.featured-image .carousel-item img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 400px;
}
.featured-description {
    margin-top: -16px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    max-height: 300px;
}
.icon-container {
    z-index: 1;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)) !important;
    width: 100%;
}
.icon-subcontainer i {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 5px;
}
.icon-subcontainer {
    display: flex;
    align-items: baseline;
}
#description-address {
    text-align: center;
    font-family: "Montserrat", "sans-serif";
    font-size: 23px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}
#description-describe {
    font-family: "Montserrat", "sans-serif";
    font-size: 18px;
    font-weight: 200;
}
/* EXPLORE LISTINGS BUTTON */
.explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.view-listing {
    color: black;
    background-color: transparent;
    border: 1px black solid;
    border-radius: 0%;
    font-family: "Montserrat", "sans-serif";
    font-size: 18px;
    font-weight: 300;
    transition: background-color 0.3s ease-in-out;
}
.view-listing:hover {
    background-color: rgb(10, 10, 10) !important;
}
.view-listing:active {
    color: white !important;
}
