/* FONTS */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */
.playfair-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.playfair-semibold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* MAIN CONTENT */
body {
    background-image: url(/img/loginBackground.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Set minimum height to full viewport height */
}
.main-content {
    display: flex;
}

/* QUOTE */
.quote-container {
    width: 50%;
}
.quote {
    font-family: "Montserrat", "sans-serif";
    font-weight: 200;
    font-size: 50px;
    color: #ffffff;
    padding-top: 150px;
    padding-left: 45%;
    padding-right: 20%;
}
.sentence {
    font-family: "Montserrat", "sans-serif";
    font-weight: 150;
    font-size: 17px;
    color: #ffffff;
    padding-left: 45%;
    padding-right: 20%;
}

/* LOGIN FORM */
.form-container {
    background-color: rgba(0, 0, 0, 0.559);
    padding: 50px 80px;
    width: 700px;
    height: 400px;
    margin-right: 150px;
    margin-top: 120px;
}
.form-label {
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}
.form-control {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    border-bottom: rgb(225, 225, 225) 1px solid;
    color: #ffffff !important;
    font-size: 16px !important;
    font-family: "Montserrat", "sans-serif" !important;
    font-weight: 300 !important;
}
.form-control:focus {
    background-color: transparent;
    border-bottom: rgb(225, 225, 225) 1px solid;
    outline: none !important;
}
.forgot-password {
    color: #ffffff !important;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    padding-left: 350px;
}
.forgot-password a {
    color: #ffffff !important;
    text-decoration: none;
}
.forgot-password a:hover {
    cursor: pointer;
    color: #d0d0d0 !important;
}
.login-form .btn {
    background-color: transparent;
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 16px;
    border-radius: 0%;
    border: white 1px solid;
    padding: 5px 0px;
    width: 100px;
    height: 35px;
}

.login-form .btn {
    background-color: transparent;
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 16px;
    border-radius: 0%;
    border: white 1px solid;
    padding: 5px 0px;
    width: 100px;
    height: 35px;
    margin-top: 15px;
}
.login-form .btn:hover {
    background-color: rgb(220, 220, 220) !important;
    color: #000000;
    border: white 1px solid;
    cursor: pointer;
}
.login-form .btn:active {
    background-color: rgb(220, 220, 220) !important;
    color: #000000;
    border: white 1px solid;
}
.add-link,
.add-link a {
    padding-top: 20px;
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}
.add-link a:hover {
    cursor: pointer;
    color: #d0d0d0;
}
.question-text {
    color: #a5b5bc;
    font-weight: 400;
}

/* ADMIN LOGIN BACKGROUND */
.admin-login {
    background-image: url(/img/adminBackground.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Set minimum height to full viewport height */
}

/* ERROR MESSAGE */
#errorMessage {
    color: rgb(254, 140, 140);
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 15px;
}
