/* FONTS */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */
.playfair-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.playfair-semibold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
/* OFF CANVAS */
.offcanvas {
    background-color: rgba(14, 29, 51) !important;
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    height: 250px !important;
}
.profile-image {
    height: 200px;
    width: 200px;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 30px;
}
.profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.offcanvas-header {
    margin-top: 50px;
    padding-top: 5px;
    margin-left: 45px;
    display: block;
    text-align: left;
}
.offcanvas-header p {
    margin-bottom: -5px;
}
.offcanvas-body {
    color: white;
}
.client-name {
    color: white;
    font-size: 23px;
    padding-bottom: 15px;
}
.client-information {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    color: white;
    font-weight: 200;
    padding-bottom: 5px;
}
.social-media {
    color: white;
    padding-top: 10px;
}
.social-media i {
    padding-right: 15px;
}
.social-media a {
    color: white;
}
.social-media a:hover {
    color: rgb(211, 211, 211);
}
.offcanvas-body {
    height: 180px;
    margin-top: 50px;
    padding-top: 9px;
    margin-left: 50px;
    display: block;
    text-align: left;
    border-left: 1px solid gray;
}
.description-title {
    font-size: 20px;
}
.client-personal-statement {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    color: white;
    font-weight: 200;
}
/* NAVIGATION BAR */
.realtorest-title {
    font-size: 25px;
    padding-top: 5px;
    padding-left: 30px;
}
a {
    text-decoration: none;
}
.navbar-categories {
    display: flex;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-size: 15px;
    padding-top: 15px;
    padding-right: 20px;
}
.navbar-category {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-category:hover {
    color: rgb(211, 211, 211);
}
.navbar {
    background-color: rgba(14, 29, 51, 0) !important;
}

/* BODY */
body {
    background-image: url(/img/listing-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Set minimum height to full viewport height */
}

.listing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-top: 40px;
    padding-right: 12%;
    padding-left: 12%;
}
.property-container {
    height: 300px;
    width: calc(33.33% - 20px); /* 33.33% width for each property with margin */
    margin-bottom: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 5px 0.1px rgb(125, 125, 125);
}
.property-listing {
    background-color: rgb(243, 243, 243);
}
/* Property Card */
.figure {
    box-shadow: 0 0 5px 0.5px rgb(145, 145, 145);
    background-color: white;
    max-width: 300px;
    border: none;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.figure:hover {
    box-shadow: 0 0 10px 1px rgb(145, 145, 145);
}

/* Description */
.carousel-inner .carousel-item img {
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.icon-container {
    display: flex;
    align-items: flex-start;
    padding-left: 11px;
    padding-right: 10px;
    padding-top: 10px;
}
.icon-subcontainer,
.address-container {
    display: flex;
    align-items: baseline;
    padding-right: 15px;
}
.fa-solid {
    margin-right: 5px;
}

/* Figcaption */
.figure-caption:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}
.figure-caption a {
    color: gray;
}
/* Address */
.address-container {
    margin-top: -10px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
}
.icon-container,
.icon-container p,
.icon-subcontainer:nth-child(4),
.icon-container:nth-child(4) p,
.address-container,
.address-container p {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* PROPERTY DETAILS */
.modal .carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}
.location-address {
    font-family: "Montserrat", "sans-serif";
    font-size: 25px;
    font-weight: 400;
    color: rgb(43, 67, 102);
}
.location-icon-container {
    color: rgb(43, 67, 102);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: "Montserrat", "sans-serif";
}
.location-icon-container .icon-subcontainer {
    padding-right: 25px;
}
.detailed-description {
    font-family: "Montserrat", "sans-serif";
    font-size: 17px;
    color: rgb(100, 100, 100);
    font-weight: 300;
}
.display-realtor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 250px;
}
.display-realtor .offcanvas-header p,
.display-realtor .offcanvas-header .social-media a {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    color: rgb(100, 100, 100);
    font-weight: 300;
}
.display-realtor .offcanvas-header .social-media a:hover {
    color: rgb(140, 140, 140);
}
.favorite-button {
    padding-top: 15px;
    background-color: transparent;
    color: rgb(186, 186, 186);
    border: none;
    outline: none;
}
#favorite-button p {
    font-family: "Montserrat", sans-serif;
    color: rgb(100, 100, 100);
}
.favorite-button:hover {
    cursor: pointer;
    color: #f1c40f;
}

.favorite-button i.highlighted {
    color: #f1c40f;
}

/* PAGINATION */
.pagination {
    padding-bottom: 30px;
}
.pagination a {
    font-family: "Montserrat", "sans-serif";
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 0px 15px;
    background-color: transparent;
    border: none;
}
.page-item.active .page-link {
    background-color: rgba(150, 150, 150, 0.502); /* Set background to clear transparent */
    color: rgb(255, 255, 255);
}
.page-item.disabled .page-link {
    background-color: transparent; /* Set background to clear transparent */
    color: rgb(255, 255, 255);
}
.page-item .page-link:hover {
    background-color: rgba(150, 150, 150, 0.502);
    color: rgb(255, 255, 255);
}

/* Styles for the pop-up form */
#popup-form {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: -100%;
    right: 20px;
    background-color: rgba(33, 45, 57, 0.95);
    border: none;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: bottom 0.7s ease-in-out, opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
}

#popup-form.active {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

#popup-form label {
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 18px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
}

/* Styles for form elements */
#popup-form input[type="text"],
#popup-form input[type="email"],
#popup-form input[type="tel"] {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: rgb(225, 225, 225) 1px solid;
    border-radius: 0%;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
}

#popup-form input[type="text"]:focus,
#popup-form input[type="email"]:focus,
#popup-form input[type="tel"]:focus {
    border-color: rgb(52, 64, 60);
}

#submit-button {
    background-color: rgb(52, 64, 60);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Montserrat", "sans-serif";
}

#submit-button:hover {
    background-color: rgb(32, 44, 40);
}

/* End of popup form styles */
