/* FONTS */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */
.playfair-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.playfair-semibold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
/* OFF CANVAS */
.offcanvas {
    background-color: rgba(14, 29, 51) !important;
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    height: 250px !important;
}
.profile-image {
    height: 200px;
    width: 200px;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 30px;
}
.profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.offcanvas-header {
    margin-top: 50px;
    padding-top: 5px;
    margin-left: 45px;
    display: block;
    text-align: left;
}
.offcanvas-header p {
    margin-bottom: -5px;
}
.offcanvas-body {
    color: white;
}
.client-name {
    color: white;
    font-size: 23px;
    padding-bottom: 15px;
}
.client-information {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    color: white;
    font-weight: 200;
    padding-bottom: 5px;
}
.social-media {
    color: white;
    padding-top: 10px;
}
.social-media i {
    padding-right: 15px;
}
.social-media a {
    color: white;
}
.social-media a:hover {
    color: rgb(211, 211, 211);
}
.offcanvas-body {
    height: 180px;
    margin-top: 50px;
    padding-top: 9px;
    margin-left: 50px;
    display: block;
    text-align: left;
    border-left: 1px solid gray;
}
.description-title {
    font-size: 20px;
}
.client-personal-statement {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    color: white;
    font-weight: 200;
}
/* NAVIGATION BAR */
.realtorest-title {
    font-size: 25px;
    padding-top: 5px;
    padding-left: 30px;
}
a {
    text-decoration: none;
}
.navbar-categories {
    display: flex;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-size: 15px;
    padding-top: 15px;
    padding-right: 20px;
}
.navbar-category {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-category:hover {
    color: rgb(211, 211, 211);
}
.navbar {
    background-color: rgba(14, 29, 51, 255) !important;
}

/* BODY */
.property-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.property-listing {
    background-color: rgb(243, 243, 243);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}
/* Property Card */
.figure {
    box-shadow: 0 0 5px 0.5px rgb(145, 145, 145);
    background-color: white;
    max-width: 300px;
    border: none;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.figure:hover {
    box-shadow: 0 0 10px 1px rgb(145, 145, 145);
}
.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: rgb(186, 186, 186);
    border: none;
    font-size: 20px;
    outline: none;
    z-index: 2 !important;
}
.favorite-button:hover {
    cursor: pointer;
    color: #f1c40f;
}

/* Description */
.carousel-inner .carousel-item img {
    height: 200px;
    object-fit: cover;
}
.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: -10px;
    padding-right: 20px;
    padding-top: 10px;
}
.property-price {
    margin-right: 15px;
    padding-left: 15px;
}
.icon-subcontainer,
.address-container {
    display: flex;
    align-items: baseline;
}
.fa-solid {
    margin-right: 5px;
}

/* Figcaption */
.figure-caption:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
.figure-caption a {
    color: gray;
}
/* Address */
.address-container {
    margin-top: -10px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 300px;
}
.icon-container,
.icon-container p,
.address-container,
.address-container p {
    font-family: "Montserrat", "sans-serif";
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
