/* FONTS */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */
.playfair-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.playfair-semibold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* MAIN CONTENT */
body {
    background-image: url(/img/registerBackground.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Set minimum height to full viewport height */
}
.main-content {
    display: flex;
}

/* QUOTE */
.quote-container {
    width: 50%;
    display: flex;
}
.quote {
    font-family: "Montserrat", "sans-serif";
    font-weight: 200;
    font-size: 50px;
    color: #ffffff;
    padding-top: 150px;
    padding-left: 45%;
    padding-right: 20%;
}

/* REGISTER FORM */
.form-container {
    background-color: rgba(0, 0, 0, 0.559);
    padding: 50px 80px;
    width: 700px;
    height: 540px;
    margin-right: 150px;
    margin-top: 100px;
}
.form-label {
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}
.form-control {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0% !important; 
    border-bottom: rgb(225, 225, 225) 1px solid !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-family: "Montserrat", "sans-serif" !important;
    font-weight: 300 !important;
}
.form-control:focus {
    background-color: transparent !important;
    border-bottom: rgb(225, 225, 225) 1px solid !important;
    outline: none !important;
}
.register-form .btn {
    background-color: transparent !important;
    color: #ffffff !important; 
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    font-size: 16px;
    border-radius: 0%;
    border: white 1px solid;  
    padding: 5px 0px;
    width: 100px;
    height: 35px;
    margin-top: 15px;
}
.register-form .btn:hover {
    background-color: rgb(220, 220, 220) !important;
    color: #000000 !important;
    border: white 1px solid !important;
    cursor: pointer !important;  
}
.register-form .btn:active {
    background-color: rgb(220, 220, 220) !important;
    color: #000000 !important;
    border: white 1px solid !important;
}
.add-link, .add-link a {
    padding-top: 20px !important;
    color: #ffffff !important;
    font-family: "Montserrat", "sans-serif" !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    text-decoration: none !important;
}
.add-link a:hover {
    cursor: pointer !important;
    color: #d0d0d0 !important;    
}
.question-text {
    color: #a5b5bc !important;
    font-weight: 400 !important;
}

#strength-pass-check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 900px;
    white-space: nowrap;
    line-height: 20px;
}

progress {
    width: 50%;
    height: 20px;
    margin-right: 10px;
}

#password-strength-text {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", "sans-serif";
    white-space: nowrap;
    line-height: 20px;
    align-self: center;
    font-weight: 300;
}

#password-strength,
#password-strength-text {
    display: none;
}

#strength-pass-check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 900px;
    white-space: nowrap;
    line-height: 20px;
}

progress {
    width: 50%;
    height: 20px;
    margin-right: 10px;
}

#password-strength-text {
    color: white;
    font-size: 18px;
    font-family: "Montserrat", "sans-serif";
    white-space: nowrap;
    line-height: 20px;
    align-self: center;
}

#password-strength,
#password-strength-text {
    display: none;
}
