body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right, #ffffff 25%, #1b2b43 10%);
    height: 100vh;
    overflow: hidden;
}


.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 60vh;
   margin-top: 50px;
}

.register-form {
    width: 500px;
    padding: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    background-color: #1b2b43;
    /* position: relative; */
}

.register-form h2 {
    font-family: "Monaco", Courier, monospace;
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    left: 150px;
    bottom: 560px;
}

.username-input,
.email-input,
.password-input,
.confirm-password-input {
    padding-top: 30px;
    padding: 15px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    border-radius: 5px;
    color: #ccc;
    transition: border-color 0.3s ease;
    appearance: none;
}

.username-input:focus,
.email-input:focus,
.password-input:focus,
.confirm-password-input:focus {
    border-color: #ff0000;
}

.username-input::placeholder,
.email-input::placeholder,
.password-input::placeholder,
.confirm-password-input::placeholder {
    color: #ccc;
}

.username-input:focus::placeholder,
.email-input:focus::placeholder,
.password-input:focus::placeholder,
.confirm-password-input:focus::placeholder {
    color: transparent;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 200%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    border-radius: 5px;
    color: #ffffff;
    transition: border-color 0.3s ease;
    appearance: none;
}

.input-wrapper input:focus {
    border-color: #ff0000;
}

.input-wrapper input::placeholder {
    color: transparent;
}

.input-wrapper input:focus::placeholder {
    color: #ccc;
}

.input-wrapper input:focus,
.input-wrapper input:not(:placeholder-shown) {
    transform: translateY(30px);
}

.input-label {
    position: absolute;
    left: 15px;
    top: 20px;
    color: #ccc;
    transition: top 0.3s, font-size 0.3s;
    pointer-events: none;
}

.input-wrapper input:focus + .input-label,
.input-wrapper input:not(:placeholder-shown) + .input-label {
    top: 10px;
    font-size: 12px;
}

.register-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px; 
}

.login-form button:hover {
    background-color: #5f0000;
}

.login_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: white;
}

.login_link a {
    color: #2691d9;
    text-decoration: none;
}

.login_link a:hover {
    text-decoration: underline;
}
